@font-face {
    font-family: orator;
    src: local(orator), url(../../TiposLetra/Orator-Std-Medium.ttf) format('truetype');
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.bodyUsuario{
    margin: 0;
    position: relative;
    padding-bottom: 12em;
    min-height: 100vh;
    background-color: #F6F1EB;
}

.subtitulo{
    font-size: 40px;
    text-align: center;
    font-family: orator;
    grid-column: 1/4;
    color: rgb(255, 136, 0);
}

.MenuInfo{
    display: grid;
    justify-content: center;
    margin: 0 auto;
    width: 1000px;
    row-gap: 60px;
    column-gap: 150px;
}

.AtributoPropietarios{
    font-size: 25px;
    color: rgb(73, 69, 65);
    font-family: roboto;
    font-weight: bold;
}



.TablaMenor{
    width: 50%;
    margin-left: 25%;
    padding-top: 75px;
}

.BotonJinete{

    justify-self: center;
    text-align: center;
    padding-top: 52px;
}

.BotonMenuCuenta{
    grid-column: 1/4;
}

.flex{
    grid-column: 1/4;
    display: flex;
    margin-bottom: 50px;
    justify-self: center;
}
.ComboboxPrivilegios{

    margin-right: 50px;
}




/*RadioButton de privileegios*/
.FormRadio{
    grid-column: 1/4;
    justify-self: center;
}

.DivRadio{
    justify-self: center;
}
    

.FormRadio input[type="radio"]{
    display: none;  
}

.FormRadio .LabelRadio{
    font-family: roboto;
    color:white;
    cursor: pointer;
    background-color: rgb(243, 112, 33);
    padding: 20px 10px 20px 50px;
    display: inline-block;
    position: relative;
    width: 110px;
    margin-top: 25px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


.FormRadio .LabelRadio:hover{
    background-color: white;
    color: rgb(243, 112, 33);
}

.FormRadio .LabelRadio:before{
    content:"";
    width: 17px;
    height: 17px;
    display: inline-block;
    background-color: none;
    border: 3px solid white;
    border-radius: 50%;
    position: absolute;
    left: 17px;
    top:17px;
}

.FormRadio .LabelRadio:hover:before{
    border: 3px solid rgb(243, 112, 33);
    background-color: rgb(243, 112, 33);
}



.FormRadio input[type="radio"]:checked + .LabelRadio {
    background-color: white !important;
    color: rgb(243, 112, 33) !important;
    
}

.FormRadio input[type="radio"]:checked + .LabelRadio:before {
    border: 3px solid rgb(243, 112, 33); 
    background-color: rgb(243, 112, 33); 
}


.BotonSolicitar{
    margin-top: 60px;
    text-align: center;
}
/*RadioButton de privileegios*/ 




.InfoRestaurante{
    grid-column: 1/2;
    grid-row: 2/6;
    justify-self: center;
    width: 500px;
    font-family: roboto;
    margin-left: 50px;
}

.H3Rest{
    text-align: center;
    font-size: 30px;
    color: rgb(73, 69, 65);
    font-weight: bold;
}

.PRest{
    padding: 25px;
    border: 2px solid rgb(243, 112, 33);
    line-height: 35px;
    background-color: rgb(255, 255, 255);
    color: rgb(129, 122, 114);
    font-size: 25px;
	
	height: 600px;
	overflow: auto;
}

.ContenedorEstablecimiento{
    display: grid;
}

.DEntrada{
    grid-column: 2/4;
    justify-self: start;
    margin-top: 100px;
    margin-left: 75px;
}

.BotonCompra{
    grid-column: 1/4;
    justify-self: center;
    margin-top: 50px;
}



.DResumen{

    grid-column: 1/4;
    justify-self: center;
    margin-top: 40px;
}


