.Contenedor{
    font-size: 25px;
    padding: 20px;
    width: 200px;
    font-family: roboto;
}

.NombreAtributo{
    width: 250px;
    color: rgb(73, 69, 65);
    margin-bottom: 10px;
    font-weight: bold;
}

.ValorAtributo{
    width: 200px;
    border: 2px solid rgb(243, 112, 33);
    line-height: 35px;
    background-color: rgb(255, 255, 255);
    color: rgb(129, 122, 114);
}