.Contenedor{
    font-size: 25px;
    
    align-self: flex-start;
    font-family: roboto;

}

.NombreAtributo{
    
    color: rgb(73, 69, 65);
    font-weight: bold;
}

.ValorAtributoAmpliado{
    border: 2px solid rgb(243, 112, 33);
    line-height: 35px;
    background-color: rgb(255, 255, 255);
    color: rgb(129, 122, 114);
    
    margin: auto;
	width: 900px;
	height: 150px;
	overflow: auto;
}