.NavUsuario{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto; 
    background-color: rgb(129, 122, 114);
    text-align: center;
    font-size: 22px;
    margin: 0px auto 2px auto;
    width: 100%;
    line-height: 65px;
    justify-content: center;   
}

nav div{
    color: white;
    text-decoration: none; 
    font-family: roboto;
    font-weight: bold;
    padding: 0px 25px;
    cursor: pointer;
}

nav div:hover{
    background-color: rgb(243, 112, 33);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}



