#title {
    text-align: center;
    font-family: arial, sans-serif;
  }
  
  #students {
    text-align: center;
    font-family: roboto;
    border-collapse: collapse;
    border: 3px solid rgb(170, 159, 148);
    width: 100%;
    line-height: 30px;
  }
  
  #students td, #students th {
    border: 1px solid #ddd;/*Color de las lineas internas*/
    padding: 12px;
  }
  
  #students tr:nth-child(even){background-color: #f2f2f2;}
  
  #students tr:hover {background-color: #ddd;}
  
  #students th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgb(243, 112, 33);
    color: white;
  }

  #BotonCrud{
    display: flex;
    width: 115px;
    margin-left: 20px;
    margin-top: 10px;
  }
  
  